<h1>Contact Us</h1>
<p>This is a new contact page. Seriously, you should get in touch, we're awesome.</p>
<p>Need a little convincing? Check out these lovely folk below:</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Our Team</h3>
  </div>
  <div class="panel-body">

		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <%= image_tag("contact-icon-example-01.jpg", :alt => "Contact Icon") %>
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Trey McSpoony</h4>
		    <p>Hey, I'm Trey. Let's all say "Yay"!</p>
		    <%= link_to "Contact Me", "#", class: "btn btn-warning" %>
		  </div>
		</div>

		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <%= image_tag("contact-icon-example-01.jpg", :alt => "Contact Icon") %>
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Lolo Tabernace</h4>
		    <p>Hey, I'm Lolo. Let's all say "Yo Yo"!</p>
		    <%= link_to "Contact Me", "#", class: "btn btn-warning" %>
		  </div>
		</div>

		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <%= image_tag("contact-icon-example-01.jpg", :alt => "Contact Icon") %>
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Bart Quarrels</h4>
		    <p>Hey, I'm Bart. Let's all say "..."!</p>
		    <%= link_to "Contact Me", "#", class: "btn btn-warning" %>
		  </div>
		</div>

  </div>
</div>
